<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="Steel Front"
        android:allowBackup="false"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:extractNativeLibs="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|smallestScreenSize|density|uiMode">
            <!-- GameActivity 会加载 libsteel_front.so 并调用其中的 android_main -->
            <meta-data
                android:name="android.app.lib_name"
                android:value="steel_front" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>